HOST=127.0.0.1
PORT=1234
UPSTREAM_BASE_URL=http://127.0.0.1:8080/v1
DEFAULT_MODEL=
DEFAULT_TEMPERATURE=1.0
DEFAULT_TOP_P=0.95
DEFAULT_TOP_K=20
DEFAULT_MIN_P=0.0
DEFAULT_PRESENCE_PENALTY=1.5
DEFAULT_REPETITION_PENALTY=1.0
REQUEST_TIMEOUT_SECONDS=600
MAX_REQUEST_BODY_BYTES=1048576
RELAY_PROBE_ON_STARTUP=true
RELAY_STRICT_STARTUP=false
RELAY_PROBE_TIMEOUT_MS=3000
RELAY_UNKNOWN_FIELD_POLICY=pass_through
RELAY_STRICT_COMPAT=false
RELAY_WARN_ON_STRIPPED_FIELDS=true
RELAY_MODEL_PROFILE=generic
RELAY_REASONING_MODE=off
RELAY_TOOL_MODE=auto
RELAY_OBSERVABILITY_ENABLED=true
RELAY_LOG_PROMPTS=false
RELAY_REQUEST_HISTORY_LIMIT=100
LOG_LEVEL=info
API_KEY=
